<form action="action_page.php" method="post">
  
  <div class="container">
      <h1>Log in</h1>
      <form (ngSubmit)="onSubmit()">
    <label for="emailId">Emailid</label>
    <input type="text" class="form-control" id="" (ngModel)="emailId" name="emailId" placeholder="Enter emailId" required>
    
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" (ngModel)="password" name="password" placeholder="Enter password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  
  
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  <div class="container signup">
    <p>Don't have an account? <a routerLink="login/register">signup</a>.</p>
  </div>
</form>


<!--<h1></h1>
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="emailId">Emailid</label>
            <input type="text" class="form-control" id="" (ngModel)="emailId" name="emailId" placeholder="Enter emailId" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" (ngModel)="password" name="password" placeholder="Enter password" required>
          </div>
          <div>
            <a routerLink="login/register">sign up</a>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>-->