<form action="action_page.php">
  <div class="container">
  <h1>Registration</h1>
  <p>Please fill in this form to create an account.</p>
  <hr>
  <form (ngSubmit)="register()">
    
      <label for="id">Id:</label>
      <input type="number" id="id" [(ngModel)]="id" name="id" required>
    
    
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required>
    
    
      <label for="gender">gender:</label>
      <input type="text" id="gender" [(ngModel)]="gender" name="gender" required>
   
      <label for="age">Age:</label>
      <input type="text" id="age" [(ngModel)]="age" name="age" required>
    
      <label for="emailId">Emailid:</label>
      <input type="text" id="emailId" [(ngModel)]="emailId" name="emailId" required>
  
    
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>

  
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </form>
  </div>
  <div class="container signin">
    <p>Already have an account? <a routerLink="login">Login</a>.</p>
  </div>
  </form>


<!--<div>
    <h2>Registration</h2>
    <form (ngSubmit)="register()">
      <div>
        <label for="id">Id:</label>
        <input type="number" id="id" [(ngModel)]="id" name="id" required>
      </div>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="name" name="name" required>
      </div>
      <div>
        <label for="gender">gender:</label>
        <input type="text" id="gender" [(ngModel)]="gender" name="gender" required>
      </div>

      <div>
        <label for="age">Age:</label>
        <input type="text" id="age" [(ngModel)]="age" name="age" required>
      </div>

      <div>
        <label for="emailId">Emailid:</label>
        <input type="text" id="emailId" [(ngModel)]="emailId" name="emailId" required>
      </div>
      
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
    
      <button type="submit">Register</button>
    </form>
  </div>-->
  <!--<form #regForm="ngForm" (ngSubmit)="registerFormSubmit(regForm.value)">
    Enter student id : <input type="text" ngModel name="studId"><br/>
    Enter name : <input type="text" ngModel name="studName"><br/>
    
    Enter gender : <input type="text" ngModel name="gender"><br/>
    Enter date of birth : <input type="date" ngModel name="dob"><br/>
    Enter fees : <input type="text" ngModel name="fees"><br/>

    Enter Country : <select ngModel name="Country">

        <option *ngFor="let country of countries" value={{country.alpha3Code}}>{{country.name}}</option>
    </select>
    <--<select name="countries" id="countries">
    <option value="India">India</option>
    <option value="china">India</option>
    <option value="australia">India</option>
    <option value="us">I</option>
    <option value="uk">India</option>
</select>->
    Enter Email id : <input type="text" ngModel name="emailId"><br/>
    Enter password : <input type="password" ngModel name="password"><br/>
    <button  class="btn btn-primary">Register</button>
    </form>-->